.heroImg {
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/assets/background-image.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
