@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", Helvetica, sans-serif;
}

main {
  width: 95%;
  max-width: 1400px;
  min-width: 300px;
  margin: auto;
}

//Fonts
a {
  color: inherit;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: $font-color;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: $font-color;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $font-color;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
  color: $font-color;
}

.body-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: $font-color;
}

.body-xl {
  font-size: 1.125rem;
  font-weight: 400;
  color: $font-color;
}

.active {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.inactive {
  font-weight: 500;

  &:hover {
    font-weight: 700;
  }
}

.hidden {
  display: none;
}

//Buttons
.cta__grass {
  background-color: $grass;
  padding: 13px 45px;
  color: $white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;

  &:hover {
    background-color: $sage;
    color: $forest;
    cursor: pointer;
  }
}

.cta__sage {
  background-color: $sage;
  padding: 13px 45px;
  color: $forest;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;

  &:hover {
    background-color: $grass;
    color: $white;
    cursor: pointer;
  }
}

.cta__sage--admin {
  background-color: $sage;
  padding: 13px 45px;
  color: $forest;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;

  &:hover {
    background-color: $forest;
    color: $white;
    cursor: pointer;
  }
}

.cta__forest {
  background-color: $forest;
  padding: 13px 45px;
  color: $white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;

  &:hover {
    background-color: $sage;
    color: $forest;
    cursor: pointer;
  }
}

// Hover button, grow bigger
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.03);
}

// Inputs
.input {
  border: none;
  background-color: $input-color;
  color: $font-color;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  padding-left: 20px;
  margin-top: 10px;

  &::placeholder {
    opacity: 0.5;
  }

  &__error {
    color: red;
    font-size: 0.875rem;
  }
}

.label {
  font-weight: 600;
  font-size: 0.875rem;
}

//Icons
.icon {
  color: $light-font-color;
  font-size: 1.875rem;

  &:hover {
    color: $forest;
  }
}

// Index styles
.hotel__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0px 100px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

// Dropdown
.Dropdown-control {
  border: none !important;
  height: 20px !important;
  padding-bottom: 5px !important;
}

.Dropdown-placeholder {
  display: none !important;
}

.rs-picker-daterange-panel {
  color: #434343;
}

.rs-btn-link {
  color: #468e49 !important;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content,
.rs-btn-primary {
  background-color: #468e49 !important;

  &:hover {
    color: #fff !important;
  }
}

// Datepicker
a,
a:focus,
a:hover {
  text-decoration: none !important;
  color: #1c4726 !important;
}

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
  box-shadow: inset 0 0 0 1px #468e49 !important;
}

.rs-btn-primary.rs-btn-disabled,
.rs-btn-primary:disabled {
  background-color: #468e49 !important;
}

.rs-calendar-table-cell-content:hover {
  background-color: #dae8db !important;
  color: #434343 !important;
}

.rs-calendar-table-cell-in-range:before {
  background-color: #dae8db !important;
}

.rs-calendar-header-title,
.rs-calendar-header-title-date,
.rs-btn,
.rs-btn-subtle,
.rs-btn-xs,
.rs-picker-daterange-calendar-group,
.rs-calendar-table-cell-day {
  font-family: "Overpass" !important;
}

.rs-picker-default:not(.rs-picker-disabled) .rs-btn-active,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover {
  border-color: #468e49 !important;
}

.rs-calendar {
  font-family: "Overpass" !important;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value,
.rs-picker-toggle-textbox {
  color: #468e49 !important;
  font-family: "Overpass" !important;
}

.rs-picker-daterange-header {
  color: #434343 !important;
  font-family: "Overpass" !important;
}
